body {
  margin: 0;
  background-color: rgb(23, 23, 23);
  color: white;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

header {
  align-items: center;
  color: rgb(34, 215, 46);
  justify-content: space-evenly;
  display: flex;
  flex-flow: column;
}

header h1 {
  font-size: 34px;
}

header section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  font-size: 18px;
}

header section a {
  text-decoration: none;
  color: rgb(247, 247, 247);
  font-size: 20px;
}

header section a:hover {
  color: rgb(34, 215, 46);
}

main {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.profile-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column nowrap;
  width: 25%;
}

.profile-content img {
  border-radius: 50%;
  width: 80%;
}

.listas {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.listas ul {
  font-size: 18px;
  width: 50%;
}

.listas ul li:hover {
  cursor: pointer;
  color: rgb(34, 215, 46);
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section article {
  font-size: 18px;
  width: 33%;
}

footer {
  color: rgb(109, 109, 109);
  text-align: center;
  font-size: 12px;
}
